code {
    font-size: 25px;
    font-family: 'Consolas';

    .line {
        display: block;
        margin-bottom: 12px;
    }

    .var {
        &-declaration {
            color: #66D9EF;
            font-style: italic;
        }

        &-name {
            color: #FFFFFF;
        }
    }

    .equal {
        color: #F92672;
    }

    .symbol {
        color: #FFFFFF;
    }

    .string {
        color: #E6DB74;
    }

    .text {
        color: #FFFFFF;
    }

    .html {
        &-tag {
            color: #F92672;
        }

        &-attr {
            color: #66D9E1;

            &-aux {
                color: #FFFFFF;
            }
            
            &-value {
                color: #FFFFFF;
            }
        }
    }
    
    .object {
        &-key {
            color: #FFFFFF;
        }
        
        &-value {
            color: #FFFFFF;
        }
    }

    .css {
        &-key {
            color: #66D9E1;
        }

        &-value {
            color: #E6DB74;
        }
    }

    .function {
        color: #66D9E1;
        
        &-aux {
            color: #FFFFFF;
        }
        
        &-param {
            color: #66D9E1;
        }
    }
    
    .number {
        color: #F92672;
    }

    .special-symbol {
        color: #F92672;
    }

    .has-click {
        cursor: pointer;
    }
    
    .has-click:hover {
        border-bottom: 1px solid currentColor;
    }

    .comment {
        color: #93C763;
    }
}
