<span class="line">
    <span class="html-tag">&lt;button</span>
    <span class="html-attr">class</span><!--
    --><span class="html-attr-aux">=</span><!--
    --><span class="string">"like-btn"</span>
    <span class="html-attr">data-bind</span><!--
    --><span class="html-attr-aux">=</span><!--
    --><span class="string">"click: call"</span><!--
    --><span class="html-tag">&gt;&lt;/button&gt;</span>
</span>
<br>
<span class="line">
    <span class="html-tag">&lt;style&gt;</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="html-attr">.like-btn</span>
    <span class="symbol">{</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="css-key">border:</span>
    <span class="css-value">0;</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="css-key">width:</span>
    <span class="css-value">50px;</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="css-key">height:</span>
    <span class="css-value">50px;</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="css-key">cursor:</span>
    <span class="css-value">pointer;</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="css-key">background:</span>
    <span class="css-value">url(/components/call.svg) center center no-repeat</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="css-key">background-size:</span>
    <span class="css-value">100%</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="symbol">}</span>
</span>
<span class="line">
    <span class="html-tag">&lt;/style&gt;</span>
</span>