<span class="line">
    <span class="function">define</span><!-- 
    --><span class="function-aux">(</span><!-- 
    --><span class="symbol">[</span><!-- 
    --><span class="symbol">]</span><!-- 
    --><span class="symbol">,</span>
    <span class="function">function</span><!-- 
    --><span class="function-aux">(</span><!--
    --><span class="function-aux">)</span>
    <span class="symbol">{</span>
</span>
<br>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="special-symbol">return</span>
    <span class="function">function</span><!--
    --><span class="function-aux">(</span><!--
    --><span class="var-name">params</span><!--
    --><span class="function-aux">)</span>
    <span class="symbol">{</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="special-symbol">this</span><!--
    --><span class="symbol">.</span><!--
    --><span class="var-name">call</span>
    <span class="equal">=</span>
    <span class="function-aux">()</span>
    <span class="function">=></span>
    <span class="symbol">{</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="var-declaration">let</span>
    <span class="var-name">audio</span>
    <span class="equal">=</span>
    <span class="special-symbol">new</span>
    <span class="function">Audio</span><!--
    --><span class="function-aux">(</span><!--
    --><span class="string">'/components/msn.mp3'</span><!--
    --><span class="function-aux">)</span><!--
    --><span class="symbol">;</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="text">audio.</span><!--
    --><span class="function">play</span><!--
    --><span class="function-aux">()</span><!--
    --><span class="symbol">;</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="symbol">}</span>
</span>
<span class="line">
    <span class="tab">&nbsp;&nbsp;&nbsp;&nbsp;</span><!--
    --><span class="symbol">}</span><!--
    --><span class="symbol">;</span>
</span>
<span class="line">
    <span class="symbol">}</span><!--
    --><span class="symbol">)</span><!--
    --><span class="symbol">;</span>
</span>